<div class="container mt-5">
    <div *ngIf="!registerMode" style = "text-align: center;">
        <h1>Mobila ta, pe gustul tau!</h1>
        <p class="lead">Alege designul, materialele in functie de spatiul disponibil si gusturile tale!</p>
        <button (click) ="registerToggle()" class="btn-primary btn-lg mr-2">Inregistreaza-te!</button>
        <button class="btn-primary btn-lg">Contacteaza-ne!!</button>
    </div>
</div>
<div *ngIf="registerMode"  class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
        </div>
    </div>
</div>